*{
    margin: 0;
    padding: 0;
}
header{
    max-width: 1170px;
    max-height: 100%;
    margin: 0 auto;
}
.navigation-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.logo{
    display: flex;
    gap: 16px;
    align-items: center;
}
.logo-image{
    width: 44px;
}
.nav-logo{
    font-size: 35px;
    font-weight: bolder;
    color: #414040;
}
.navigation-links
{
    display: flex;
    align-items: center;
    gap: 30px;
}
.links {
    list-style: none;
    
}
.link{
    text-decoration: none;
    font-size: 16px;
    color: #707070;
}
.link:hover{
    background-color: rgba(0, 255, 255, 0.089);
    padding: 5px 10px;
    border-radius: 4px;
}   
.consultation{
    padding: 18px 29px;
    background-color: #B68C5A;
    border-radius: 8px;

}
.consultation:hover{
    background-color: rgba(165, 42, 42, 0.315);

}
.button-text{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;

}
.button-text{
    color: #ffffff;
}
.search{
    margin-top: 50px;
    background: url('../images/banner.png');
    background-repeat: no-repeat;
    text-align: center;
    padding: 104px 239px;
    border-radius: 8px;
    
    
}
.search-heading{
    font-size: 72px;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 24px;
}
.search-text{
    font-size: 16px;
    color: #E7E7E7 ;
    line-height: 26px;
    margin-bottom: 32px;
}
.search-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.search-bar{
    width: 500px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid aqua;
    padding-left: 20px;
    font-size: 16px;
    color: #A0A0A0;
    line-height: 26px;
}
.search-clicker{
    background-color: #B68C5A;
    width: 150px;
    height: 64px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;


}
.search-clicker:hover{
    background-color:  #b68d5a9c;
}